.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.home-card {
  margin-top: 10vh;
  padding: 25px;
  border-radius: 29px;
}

.animated-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, aqua, blueviolet, coral);
  background-size: 400% 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  animation: gradient 60s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position-x: 50%;
  }
  25% {
    background-position-x: 15%;
  }
  75% {
    background-position-x: 85%;
  }
  100% {
    background-position-x: 50%;
  }
}
